@import "tailwindcss";
button,span,i,a{
    cursor: pointer;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }       /* Chrome, Safari */
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; } /* IE/Edge, Firefox */
}
